<div id="patient_list">
    <h1>Listing patients</h1>

    <table>

    <% @patients.each do |patient| %>
      <tr class="<%= cycle('list_line_odd','list_line_even') %>">
        <td  class = "list_description">
            <b>MR Number: </b>
            <%= Patient.mr_number(patient) %><br />
            <b><%= I18n.t('patients.index.fullname') %></b>
            <%= Patient.fullname(patient) %><br />
            <b>Age: </b>
            <%= Time.now.year - patient.birthday.year + 1 %><br />
            <b>Gender: </b>
            <% if patient.gender = 1 -%>Female
            <% elsif @patient.gender == 0-%>
                Male
            <% else -%>
                Other
            <% end -%><br />
            <b>Status: </b>
            <%= patient.status %><br />
            <b>Viewed count: </b>
            <%= patient.viewed_count %><br />
            <b>Location: </b>
            <%= link_to patient.location.name, patient.location %></td>
        <td class="list_action">
            <%= link_to 'View', patient %><br />
            <%= link_to 'Edit', edit_patient_path(patient) %><br />
            <%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
</div>
<br />

<%= link_to 'New Patient', new_patient_path %>



